/* =-============= Colour Variables =============-= */
$base: #17baef;
$secondary: #eebf3f;
$text-color: #444444;
$text-secondary: #666666;
$grey: #999999;
$darker-grey: #666666;
$smoky-white: #f5f5f5;
$divider: #efefef;
$heart: #fb866a;

/* =-============= Mixins =============-= */
@import "mixins";
@import "responsive";

/* =-============= Base Styles =============-= */
body {
  font-family: 'Lato', arial, sans-serif;
  color: $text-color;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $base;
}

a {
  color: $base;
  @include transition (all 0.4s ease-in-out);
  &:hover {
    text-decoration: underline;
    color: darken($base, 10%);
  }
}

.btn, a.btn {
  @include transition (all 0.4s ease-in-out);
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight:bold;
  .svg-inline--fa {
    margin-right: 5px;
  }

  &:focus {
    color: #fff;
  }
}

a.btn-cta-primary, .btn-cta-primary {
  background: darken($base, 30%);
  border: 1px solid darken($base, 30%);
  color: #fff;
  font-weight:600;
  text-transform: uppercase;
  &:hover {
    background: darken($base, 35%);
    border: 1px solid darken($base, 35%);
    color: #fff;
  }
}

a.btn-cta-secondary,  .btn-cta-secondary {
  background: $secondary;
  border: 1px solid $secondary;
  color: #fff;
  font-weight:600;
  text-transform: uppercase;
  &:hover {
    background: darken($secondary, 5%);
    border: 1px solid darken($secondary, 5%);
    color: #fff;
  }
}

.text-highlight {
  color: darken($base, 30%);
}

.offset-header {
  padding-top: 90px;
}

pre code {
  font-size: 16px;
}