<h2>About Me</h2>
<p>I'm just your average person who happens to love coding! Especially Discord bots.</p>

<h2>Useful Links:</h2>
<ul>
  <li><a href="https://github.com/haruyuki/CS-Pound">CS Pound Discord Bot</a></li>
  <li><a href="https://github.com/haruyuki/The-Windsinger">The Windsinger</a></li>
  <li><a href="https://github.com/haruyuki/Haru-Project">Haru-Project! Game</a></li>
</ul>
<p>Feel free to contact me on
  <span class="tooltip">
    <a href="discord://">
      <span class="tooltiptext">Peko#7955</span>
      Discord
    </a>
  </span>
 or <a href="https://www.chickensmoothie.com/Forum/memberlist.php?mode=viewprofile&u=841634">Chicken Smoothie</a> if there are any issues!</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/haruyuki">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-youtube fa-lg main-list-item-icon"></span>
    <a href="http://youtube.com/c/haruyukii">YouTube</a>
  </li>
</ul>
