<h2>About Me</h2>
<p>{{ site.compass.description }}</p>

<h2>My Works:</h2>
<ul>
  <li><a href="https://haruyuki.moe/CS-Pound">CS Pound</a></li>
  <li><a href="https://github.com/haruyuki/fursona-pins">Fursona Pins</a></li>
  <li><a href="https://github.com/haruyuki/Market-Bot">Market Bot</a></li>
  <li><a href="https://github.com/haruyuki/The-Windsinger">The Windsinger</a></li>
</ul>
<p>Feel free to contact me either through
  <span class="tooltip">
    <a href="#">
      <span class="tooltiptext">Haru#5616</span>
      Discord
    </a>
  </span>
 or <a href="https://twitter.com/BluMewMew">Twitter</a> for anything!</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/haruyuki">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://twitter.com/BluMewMew">Twitter</a>
  </li>
</ul>
